body {
    background-color: rgb(66, 66, 66); /*fundo '-'*/
}

img {
    width: 10%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}