body {
     /*fundo '-'*/
}

img {
    width: 10%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}

.passaro1{
    width: 5%;
}

.passaro{
    background-color: rgb(123, 207, 255);
}